* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    height: 40px;
    display: flex;
    background-color: #4285F4;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.logo {
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    padding: 1.5rem;
    color: #ffffff;
}

h3 {
    font-family: 'helvetica neue', Helvetica, sans-serif;
}

.gallery {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    grid-template-rows: auto;
    width: auto;
    height: auto;
    margin: 10px;
}

iframe {
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    border: none;
    padding-bottom: 80px;

}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #ffffff;
    background: #4285F4;
    border: none;
    border-radius: 4px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    font-size: 2rem;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.map {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
}